body{
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #3E0703;
    color: #333;
    overflow: hidden;
}

h1{
    margin-top: 50px;
    font-size: 3em;
    color: #D9C4B0;
}

img{
    width: 300px;
    border-radius: 20px;
    margin-top: 20px;
}

.button-container{
    margin-top: 20px;
}

button{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #D9C4B0;
    color: #3E0703;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #EEEEEE;
    transform: scale(1.1);
}

.heart{
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    clip-path: polygon(50% 0%, 61% 7%, 68% 18%, 68% 30%, 50% 50%, 32% 30%, 32% 18%, 39% 7%);
    animation: float 4s linear infinite;
}

#loveText{
    margin-top: 20px;
    font-size: 2em;
    color: #F7F4EA;
    opacity: 0;
    transition: opacity 0.3s ease;
    letter-spacing: 2px;
}